*{
    margin: 0;
    padding: 0;

    --dark-slack-color: #300a30;
    --light-slack-color: #3f0e40;
    --highlight-color:#ff4f4f;
    --output-bg-color:#fff;
    --output-text-color:#000;
    --header-bg-color:#000;
}
body{
    background-color: var(--dark-slack-color);
    color: #fff;
}

a, a:visited, a:link{
    color:var(--highlight-color);
}

input{
    width: 100%;
}

.app__container{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    background-color: var(--header-bg-color);    
}
main{
    display: flex;
    flex-direction: row;

}
.steps{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 10px;
    background-color:var(--dark-slack-color);
}

ol{
    padding-left: 15px;
}

li{
    margin: 10px;
}

.output{
    border: 1px solid;
    width: 100%;
    padding: 5px 20px;
    overflow: scroll;
    background-color: var(--output-bg-color);
    color: var(--output-text-color);    
}

.total_count{
    color: var(--highlight-color);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    main{
        flex-direction: column;
    }            
}
