<!DOCTYPE html>
<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5L8VHL2');</script>
        <!-- End Google Tag Manager -->    

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="author" content="Macdonald Robinson">
    <meta name="keywords" content="Slack,Deleter,Bulk">
    <title>Slack Deleter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="./css/main.css" type="text/css" rel="stylesheet"></link>

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5L8VHL2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        
    <div id="app">
        <div class="app__container">
            <header>                
                <h1>Slack Deleter</h1>
                <p>Slack does not allow deleting messages in bulk, so this tool deletes ALL your messages from a specific channel on a timer</p>
                <p>
                    Author: <a href="https://github.com/MacdonaldRobinson/" target="_blank">Macdonald Robinson</a>
                </p>
            </header>
            <main>
                <div class="steps">
                    <h2>Steps</h2>
                    <ol>
                        <li>
                            <a href="https://api.slack.com/start/overview" target="_blank">Create a slack app and install it </a>
                        </li>
                        <li>
                            Enter the client id here:<br>
                            <input id="client_id" type="text" v-model="client_id">
                        </li>
                        <li>
                            Enter the client secret here:<br>
                            <input id="client_secret" type="text" v-model="client_secret">
                        </li>
                        <li>
                            <a href="https://www.wikihow.com/Find-a-Channel-ID-on-Slack-on-PC-or-Mac" target="_blank">Enter the channel id here</a>:<br>
                            <input id="channel_id" type="text" v-model="channel_id">
                        </li>
                        <li v-if="client_id && signup_button_href">
                            Sign into Slack and provide access by clicking this button:<br>
                            <a id="SlackSignupButton" :href="signup_button_href"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
                        </li>
                        <li v-if="auth_access">
                            Run the tool:<br>
                            <button id="Run" v-on:click="Run">Run</button>
                        </li>
                        <li v-if="auth_access">
                            View the total messages deleted:
                            <span class="total_count">{{messages_deleted_count}}</span> Message(s) deleted
                        </li>
                    </ol>
                </div>
                <ol class="output">
                    <li v-for="log in logs">{{log}}</li>
                </ol>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/main.js"></script>  

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5da325eadcc188db"></script>

</body>
</html>