<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Slack Deleter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="./css/main.css" type="text/css" rel="stylesheet"></link>

</head>

<body>
    <div id="app">
        <div class="app__container">
            <header>
                <h1>Slack Deleter</h1>
                <p>Slack does not allow deleting messages in bulk, so this tool deletes ALL your messages from a specific channel on a timer</p>
            </header>
            <main>
                <div class="steps">
                    <h2>Steps</h2>
                    <ol>
                        <li>
                            Create a slack app and install it ( <a href="https://api.slack.com/start/overview" target="_blank">Instructions Here</a> )
                        </li>
                        <li>
                            Enter the Client Id here:<br>
                            <input id="client_id" type="text" v-model="client_id">
                        </li>
                        <li>
                            Enter the Client secret here:<br>
                            <input id="client_secret" type="text" v-model="client_secret">
                        </li>
                        <li>
                            Enter the channel Id here ( <a href="https://www.wikihow.com/Find-a-Channel-ID-on-Slack-on-PC-or-Mac" target="_blank">Instructions Here</a> ):<br>
                            <input id="channel_id" type="text" v-model="channel_id">
                        </li>
                        <li v-if="client_id && signup_button_href">
                            Sign into Slack and provide access by clicking this button:<br>
                            <a id="SlackSignupButton" :href="signup_button_href"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
                        </li>
                        <li v-if="auth_access">
                            Run the tool:<br>
                            <button id="Run" v-on:click="Run">Run</button>
                        </li>
                        <li v-if="auth_access">
                            View the total messages deleted:
                            <span class="total_count">{{messages_deleted_count}}</span> Message(s) deleted
                        </li>
                    </ol>
                </div>
                <div class="output">
                    <p v-for="log in logs">{{log}}</p>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/main.js"></script>    
</body>